# Backend Configuration

BACKEND_URL=https://sentinel.copper-wave.com/api/observer/data-sync
BACKEND_SYNC_CHECK_URL=https://sentinel.copper-wave.com/api/observer/sync-check
API_KEY=your-api-key-here

# BACKEND_URL=http://192.168.1.124:8000/api/observer/data-sync
# BACKEND_SYNC_CHECK_URL=http://192.168.1.124:8000/api/observer/sync-check
# API_KEY=your-api-key-here

# GPS Configuration
USE_MOCK_DATA=False
