inference_script/sentinel_data/*
inference_script/inference_archive/*
inference_script/*.pt

old_files/*
repeater_logs/*
synchronizer_logs/*
main_logs/*
cleaner_logs/*
archiver_logs/*
inferencer_logs/*

__pycache__/*
*.pyc

benchmark_results/*